{% extends 'base.html' %}
{% block extra_css %}

{% endblock %}

{% block header %}
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Money Easy</h1>
    <p class="lead">お金の悩みから解放されて生活に安心を与えよう！</p>
  </div>
</div>
{% endblock %}

{% block content %}
    {% for item in object_list %}
  <div class="alert alert-{{ item.priority }}" role="alert">
      <p><a href="{% url 'money_easy:pay_item_detail' item.pk %}">{{ item.title }}</a> 期日:{{ item.duedate }}</p>
  <a href="{% url 'money_easy:pay_item_update' item.pk %}" class="btn btn-info btn" tabindex="-1" role="button" aria-disabled="true">編集</a>
<a href="{% url 'money_easy:pay_item_delete' item.pk%}" class="btn btn-primary btn" tabindex="-1" role="button" aria-disabled="true">削除</a>
<a href="{% url 'money_easy:pay_item_detail' item.pk%}" class="btn btn-success btn" tabindex="-1" role="button" aria-disabled="true">詳細</a>
</div>
{% endfor %}
<a href="{% url 'money_easy:logout' %}">ログアウト</a>
{% endblock %}